*.class
*.log
/objsets/.idea/
.idea/
funsets/.idea/
funsets/project/project/target/
funsets/project/target/
funsets/project/target/streams/
funsets/target/
objsets/project/project/target/
objsets/project/target/
objsets/target/
/target/
